.idea/**/workspace.xml
.idea/**/libraries
.idea/artifacts/*
.idea/compiler.xml
.idea/checkstyle-idea.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/sonarIssues.xml
*.iml
target
.idea/vcs.xml